@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-funnel-display), sans-serif;
}

@keyframes gradientAnimation {
  0% { background-position-y: 0%; }   /* Départ tout en haut */
  50% { background-position-y: 100%; } /* Descend tout en bas */
  100% { background-position-y: 0%; } /* Remonte en haut */
}


.animate-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
}